@model NegozioDashboardViewModel

@{
    ViewData["Title"] = "Negozio";
}

<h1 class="title"> Benvenuto commerciante, </h1>
<h2 class="title"> Questa &egrave; la tua dashboard</h2>


<div class="row mt-3">
    <div class="col-md-4">
        <a class="btn btn-outline-primary" asp-action="Modifica" asp-controller="Negozio" asp-route-id="@Model.NegozioId"><i class="fas fa-user-edit"></i> Modifica Negozio </a>
    </div>
    <div class="col-md-4">
        @if(Model.Negozio.Pubblicita.Count() != 0){
           <p class="btn btn-outline-danger"> Pubblicit&agrave; attiva</p>
            
        }else{
            <a class="btn btn-outline-primary" asp-action="Pubblicita" asp-controller="Negozio" asp-route-id="@Model.NegozioId"><i class="fas fa-audio-description"></i> Attiva pubblicit&agrave; </a>
        }
        
    </div>
    <div class="col-md-4">
        <a class="btn btn-outline-primary" asp-action="Pacco" asp-controller="Negozio" asp-route-id="@Model.NegozioId"><i class="fas fa-cart-plus"></i> Nuovo ordine </a>
     </div>
</div>



<div class="row mt-3">
    <div class="col-md-12">
        <h3 style="color: rgb(255,166,0); font-size: 25px;"> Lista di ordini</h3>
        <ul class="elenco">
            <li>
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-bold"> Luogo di Consegna </p> @* Indirizzo del pacco *@
                    
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight-bold"> Email </p>  @* Nome destinatario *@
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight-bold"> Nome </p>  @* Nome destinatario *@
                    </div>
                </div> 
            </li>
            @foreach (var pacco in Model.pacchi)
            {
                <li>
                    <div class="row">
                        <div class="col-md-4">
                            <p> @pacco.Destinazione </p> @* Indirizzo del pacco *@
                        
                        </div>
                        <div class="col-md-4">
                            
                            <p> @pacco.Utente.Email </p>  @* Nome destinatario *@
                        </div>
                        <div class="col-md-4">
                            
                            <p> @pacco.Utente.FullName </p>  @* Nome destinatario *@
                        </div>
                    </div> 
                </li>
            }
        </ul>
    </div>
</div>