@{
    ViewData["Title"] = "Elenco Negozi";
}

@model OrdiniUtenteViewModel


    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4" style="color: rgb(255,166,0);">I tuoi ordini</h1>
        </div>
    </div>

    
    <div class="mt-3 row">
        <div class="col-md-4 d-flex align-items-center mt-2">
            @using((Html.BeginForm("Ordini", "Utente", FormMethod.Get)))
            {
                <div class="input-group">
                    <input class="form-control" type="text" name="search" placeholder="Cerca un negozio" aria-label="Search" aria-describedby="searchAddon" value="@Model.Input.Search">
                    <div class="input-group-append">
                        <button class="input-group-text" title="Cerca"><i class="fas fa-filter"></i></button>
                    </div>
                </div>
            }
        </div>
        
        <div class="col-md-4 d-flex align-items-center mt-2">
            @using((Html.BeginForm("Ordini", "Utente", FormMethod.Get)))
            {
                <button type="submit" class="btn btn btn-outline-danger" title="Ricarica"><i class="fas fa-redo-alt fa-flip-horizontal fa-spin" aria-hidden="true"></i> Ricarica</button>
            }
            
        </div>
    </div>
    

    <h1 class="color mt-3" style="font-size: 23px;"> Legenda </h1>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li class="mt-3">
                   <p> &nbsp;&nbsp;&nbsp;<i style="color: red;" class="far fa-times-circle"></i> Non assegnato al corriere  </p>
                </li>
                 <li class="mt-2">
                    <p> &nbsp;&nbsp;&nbsp;<i style="color: orange;" class="fas fa-circle-notch fa-spin"></i> Preso in carico  </p>
                </li>
                 <li class="mt-2">
                    <p> &nbsp;&nbsp;&nbsp;<i style="color: green;" class="far fa-check-circle"></i> Consegnato </p>
                </li>
            </ul>
        </div>
    </div>
           
    <div class="row">
        <div class="col-md-12">
            
            <ul class="elenco mt-4">
                <li>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="font-weight-bold"> Negozio </p>    
                        </div>
                        <div class="col-md-2">
                            <p class="font-weight-bold"> Corriere </p>    
                        </div>
                        <div class="col-md-1">             
                            <p class="font-weight-bold"> Stato </p>           
                        </div>
                        <div class="col-md-4">             
                            <p class="font-weight-bold"> Destinazione </p>           
                        </div>
                        <div class="col-md-2">
                            <p class="font-weight-bold"> Data consegna  </p>
                        </div>
                        
                    </div> 
                </li>
                @foreach(var pacco in Model.Ordini.Elenco){
                <li>
                    <div class="row">
                        <div class="col-md-3">
                            <p> @pacco.Negozio.Nome </p>
                        </div>
                        <div class="col-md-2">
                            <p html-sanitize>@pacco.Corriere.Nominativo </p>
                        </div>
                        <div class="col-md-1">                            
                            @if(pacco.StatoPacco == StatoPacco.NON_ASSEGNATO){
                                <i style="color: red;" class="far fa-times-circle"></i>
                            }
                            @if(pacco.StatoPacco == StatoPacco.ASSEGNATO){
                                <i style="color: orange;"class="fas fa-circle-notch fa-spin"></i>
                            }
                            @if(pacco.StatoPacco == StatoPacco.CONSEGNATO){
                                <i style="color: green;" class="far fa-check-circle"></i>
                            }
                        </div>
                        <div class="col-md-4">
                            <p html-sanitize>@pacco.Destinazione </p>
                        </div>
                        <div class="col-md-2">
                             @if(pacco.StatoPacco != StatoPacco.CONSEGNATO){
                                <p> Previsto 1 giorno</p>
                            }else{
                                @pacco.Data
                            }
                        </div>
                    </div> 
                </li>
                }
            </ul>
        </div>
    </div>
           
        <vc:pagination model="@Model" />
    