@{
    ViewData["Title"] = "Ordini";
}

@model PacchiListViewModel


<h2 class="title mt-2"> Lista ordini </h2>

@using(Html.BeginForm("Consegna", "Corriere", FormMethod.Post)){
    @Html.HiddenFor( c => c.CorriereId)
    <div class="row mt-3">
        <div class="col-md-12">
                <ul class="elenco">
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                    <p class="font-weight-bold"> LUOGO DI SPEDIZIONE </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="font-weight-bold"> LUOGO DI CONSEGNA </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="font-weight-bold"> DESTINATARIO </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="font-weight-bold">CONSEGNA </p>
                                </div>
                        </div>
                    </li>
                    @foreach (var pacco in Model.Pacchi)
                    {
                        
                        <li>
                            <div class="row">
                               
                                <div class="col-md-4 mt-2">
                                <p  >@pacco.Partenza </p>
                                </div>
                                <div class="col-md-4 mt-2">
                                   <p  >@pacco.Destinazione</p> 
                                </div>
                                <div class="col-md-2 mt-2">
                                   <p  >@pacco.Utente.FullName </p> 
                                </div>
                                <div class="col-md-2" >
                                    <button class="btn btn-outline-danger" name="PaccoId" id="PaccoId" value="@pacco.PaccoId"><i class="fas fa-clipboard-check"></i></button>
                                </div>
                            </div> 
                        </li>
                    }
            </ul>           
        </div>
    </div>
}
