@{
    ViewData["Title"] = "Cronologia ordini";
}

@model PacchiListViewModel


<h3 class="title mt-3"> Cronologia ordini </h5>

<div class="row mt-2">
    <div class="col-md-12">
        <ul class="elenco">
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <p class="font-weight-bold"> NEGOZIO </p>
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight-bold"> LUOGO DI CONSEGNA </p>
                    </div>
                    <div class="col-md-3">
                        <p class="font-weight-bold"> DESTINATARIO </p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-weight-bold"> DATA </p>
                    </div>
                </div> 
            </li>
                    @foreach (var pacco in Model.Pacchi)
                    {
                        @Html.HiddenFor(m => m.Pacchi)
                        <li>
                            <div class="row">
                                <div class="col-md-3">
                                    @pacco.Negozio.Nome
                                </div>
                                <div class="col-md-4">
                                   @pacco.Destinazione
                                </div>
                                <div class="col-md-3">
                                   @pacco.Utente.FullName
                                </div>
                                <div class="col-md-2">
                                   @pacco.Data
                                </div>
                            </div> 
                        </li>
                    }
        </ul>
    </div>
</div>
