@{
    ViewData["Title"] = "Non Assegnati";
}

@model PacchiListViewModel



<div class="row mt-3">
    <div class="col-md-12">
        <ul class="elenco">
            <li>
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-bold"> LUOGO DI RITIRO </p>
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight-bold"> LUOGO DI CONSEGNA </p>
                    </div>
                    <div class="col-md-3">
                        <p class="font-weight-bold"> DESTINATARIO </p>
                    </div>
                    <div class="col-md-1">
                        <p class="font-weight-bold"> PRENDI </p>
                    </div>
                </div> 
            </li>
            @using(Html.BeginForm("NonAssegnati", "Corriere", FormMethod.Post)){
                
                

                @foreach (var pacco in Model.Pacchi)
                {
                        @Html.HiddenFor(m => m.CorriereId);
                        <li>
                            <div class="row">
                                <input type="hidden" name="PaccoId" value="@pacco.PaccoId">
                                <div class="col-md-4">
                                    @pacco.Partenza
                                </div>
                                <div class="col-md-4">
                                   @pacco.Destinazione
                                </div>
                                <div class="col-md-3">
                                   @pacco.Utente.FullName
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-warning"><i class="fas fa-dolly"></i></button>
                                </div>

                            </div> 
                        </li>
                    }
            }
        </ul>
    </div>
</div>