@{
    ViewData["Title"] = "Non Assegnati";
}

@model PacchiListViewModel


<div class="row mt-3">
    <div class="col-md-12">
        <h3 class="title"> Non assegnati </h3>
        <p style="color: rgb(256, 166, 24)"> Disponibili: @Model.PacchiNonAssegnati.TotaleElenco </p>
    </div>
</div>


<div class="row mt-3">
    <div class="col-md-12">
        <ul class="elenco">
            <li>
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-bold"> LUOGO DI RITIRO </p>
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight-bold"> LUOGO DI CONSEGNA </p>
                    </div>
                    <div class="col-md-3">
                        <p class="font-weight-bold"> DESTINATARIO </p>
                    </div>
                    <div class="col-md-1">
                        <p class="font-weight-bold"> PRENDI </p>
                    </div>
                </div> 
            </li>
            @using(Html.BeginForm("NonAssegnati", "Corriere", FormMethod.Post)){
                
                <input type="hidden" name="IdCorriere" value=@Model.CorriereId>

                @foreach (var pacco in Model.PacchiNonAssegnati.Elenco)
                {
                        @Html.HiddenFor(m => m.PacchiNonAssegnati);
                        <li>
                            <div class="row">
                                <input type="hidden" name="IdPacco" value="@pacco.PaccoId">
                                <div class="col-md-4">
                                    @pacco.Negozio.Citta (@pacco.Negozio.Provincia), @pacco.Negozio.Via
                                </div>
                                <div class="col-md-4">
                                    @pacco.Citta (@pacco.Provincia), @pacco.Via @* Indirizzo del pacco *@
                                </div>
                                <div class="col-md-3">
                                    @pacco.Utente.Nome, @pacco.Utente.Telefono
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-warning"><i class="fas fa-dolly"></i></button>
                                </div>

                            </div> 
                        </li>
                    }
            }
        </ul>
    </div>
</div>