@model PubblicitaListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(255, 166, 0);">Benvenuto in C3</h1>
    <p class="mt-3">Il progetto si rivolge ai centri abitati medi della provincia italiana dove le attività commerciali del centro <b>soffrono la concorrenza di grossi centri commerciali</b> situati nelle periferie.
    L’idea di fondo è considerare il trasporto della merce una volta acquistata una delle scomodità principali degli acquisti in centro oltre alla più difficile collocazione dei punti vendita in relazione a specifiche categorie merceologiche.
    Il progetto si pone dunque come obiettivo quello di fornire un supporto per rendere l’esperienza degli acquisti in centro più facile e interessante.
    </p>

    <p>
        Il nostro obiettivo &egrave; di fornire supporto ai commercianti locali fornendo una piattaforma dove poter organizzare la consegna dei beni direttamente a casa dell'acquirente, in un punto di ritiro o in un determinato locker. 
    </p>
    <p class="mt-3"> 
        Grazie per averci scelto. <br>
        <b>
            <author>Il team di C3</author>
        </b>
    </p>
    <br>
    
    
        @if(@Model.NegoziPubblicizzati.Elenco.Any(p => p.Attiva == 1)){
        <h2 class="title"> Negozi Pubblicizzati </h2>
        
                <ul class="elenco">
                    <li>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="font-weight-bold">Nome</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-weight-bold" >Nome Evento </p>
                            </div>
                            <div class="col-md-3">                            
                                <p class="font-weight-bold">Citta (Provincia)</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-weight-bold" >Via</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-weight-bold">Tipologia</p>
                            </div>
                        </div>
                    </li>
                    @foreach (var a in Model.NegoziPubblicizzati.Elenco)
                    {
                    <li>
                        <div class="row">
                            <div class="col-md-3">
                                <p>@a.Negozio.Nome</p>
                            </div>
                            <div class="col-md-2 text-lowercase font-italic ">
                                <p>@a.NomeEvento </p>
                            </div>
                            <div class="col-md-3">                            
                                <h5>@a.Negozio.Citta (@a.Negozio.Provincia)</h5>
                            </div>
                            <div class="col-md-2">
                                <h5>@a.Negozio.Via</h5>
                            </div>
                            <div class="col-md-2">
                                <h5>@a.Negozio.Tipologia</h5>
                            </div>
                        </div> 
                    </li>
                }
            </ul>
        
    }else{
        <h2 class="title"> Non ci sono negozi pubblicizzati al momento! </h2>
    }

    <vc:pagination model="@Model" />

</div>
