@{
    ViewData["Title"] = "Elenco Negozi";
}

@model Tuple<List<string>, List <string>>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="font-weight-bold">Inizia la ricerca dei negozi</p>
</div>

<ul>
    <li class="elenco">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                <h3>
                    <small class="text-muted">in tutto il territorio... </small>
                </h3> 
                </div>
                <div class="mt-3 col-md-4">

                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-primary" asp-action="ListaNegozi" asp-controller="Elenco">Vai all'elenco</a>
                </div>
            </div>
        </div>
    </li>
    <li class="elenco">
        <div id="btnAlert" class="alert alert-danger text-center d-none" role="alert">
                Il campo citt&agrave; non pu&ograve; essere vuoto!
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h3>
                        <small class="text-muted">nella tua citta...</small>
                    </h3> 
                </div>
                <div class="mt-3 col-md-4">
                    <select name="citta" id="citta">
                       <option value="-1" selected>  </option>
                        @foreach (var citta in @Model.Item1)
                        {
                            <option value="@citta">@citta</option>
                        } 
                        
                        
                    </select>
                </div>
                <div class="col-md-2">
                   <a id="btnAddCity" class="btn btn-outline-primary" asp-action="ListaNegoziCitta" asp-controller="Elenco">Vai all'elenco</a> 
                    </div>
            </div>
        </div>
    </li>
    <li class="elenco">
        <div id="btnAlertRegione" class="alert alert-danger text-center d-none" role="alert">
                Il campo regione non pu&ograve; essere vuoto!
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h3>
                        <small class="text-muted">nella tua regione...</small>
                    </h3> 
                </div>
                <div class="mt-3 col-md-4">
                    <select name="regione" id="regione">
                       <option value="-1" selected>  </option>
                        @foreach (var regione in @Model.Item2)
                        {
                            <option value="@regione">@regione</option>
                        } 
                    </select>
                </div>
                <div class="col-md-2">
                   <a id="btnAddRegion" class="btn btn-outline-primary" asp-action="ListaNegoziRegione" asp-controller="Elenco">Vai all'elenco</a> 
                </div>
            </div>
        </div> 
    </li>
</ul>

 




 