@{
    ViewData["Title"] = "Elenco Negozi";
}

@model ElencoListViewModel

    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Lista Negozi</h1>
        </div>
    </div>

    <div class="mt-3 row">
        <div class="col-md-4 d-flex align-items-center">
            @using((Html.BeginForm("Index", "Elenco", FormMethod.Get)))
            {
                <div class="input-group">
                    <input class="form-control" type="text" name="search" placeholder="Cerca un negozio" aria-label="Search" aria-describedby="searchAddon">
                    <div class="input-group-append">
                        <button class="input-group-text" title="Cerca"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4  d-flex align-items-center">
            @using((Html.BeginForm("Index", "Elenco", FormMethod.Get)))
            {

                <div class="input-group">
                    <input class="form-control" type="text" name="search" placeholder="Cerca una tipologia" aria-label="Search" aria-describedby="searchAddon">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text" title="Cerca" name="Tipologia" value="True"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            
            }
            
        </div>
        <div class="col-md-4  d-flex align-items-center">
            @using((Html.BeginForm("Index", "Elenco", FormMethod.Get)))
            {
                <button type="submit" class="btn btn-warning" title="Ricarica" >Ricarica lista</button>
            }
            
        </div>
    </div>
    
   
    <p class="font-weight-bold mt-3">Negozi affiliati al sistema C3</p>
    <p class="font-weight-bold mt-3">Inizia la ricerca</p>

   
    <ul class="elenco">
        <li>
            <div class="row">
                <div class="col-md-3">
                    <a asp-route-orderby="Nome" asp-route-ascending="@(Model.Input.OrderBy == "Nome" ? !Model.Input.Ascending : true)">Nome @if(@Model.Input.OrderBy == "Nome"){    <i class="fas fa-caret-@(Model.Input.Ascending ? "up":"down")"></i>}</a>
                </div>
                <div class="col-md-2">
                    <a asp-route-orderby="Tipologia" asp-route-ascending="@(Model.Input.OrderBy == "Tipologia" ? !Model.Input.Ascending : true)">Tipo @if(@Model.Input.OrderBy == "Tipologia"){     <i class="fas fa-caret-@(Model.Input.Ascending ? "up":"down")"></i>}</a>
                </div>
                <div class="col-md-3">             
                    <p class="font-weight-bold">Citta (Provincia)</p>           
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Via</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Telefono</p>
                </div>

              
            </div> 
        </li>
        @foreach(var negozio in Model.Negozi.Elenco){
        <li>
            <div class="row">
                <div class="col-md-3">
                    <p> @negozio.Nome</p>
                </div>
                <div class="col-md-2 text-lowercase font-italic ">
                    <p>@negozio.Tipologia</p>
                </div>
                <div class="col-md-3">                            
                    <p>@negozio.Citta (@negozio.Provincia)</p>
                </div>
                <div class="col-md-2">
                    <p>@negozio.Via</p>
                </div>
                <div class="col-md-2">
                    <p>@negozio.Telefono</p>
                </div>
            </div> 
        </li>
        }
    </ul>

<vc:pagination model="@Model" />

 




