@model List<NegozioViewModel>
@{
    ViewData["Title"] = "Elenco";
}

<div class="text-center">
    <h1 class="display-4">Lista Negozi</h1>
    <p class="font-weight-bold">Negozi affiliati al sistema C3</p>
 </div>
    <ul>
        <li class="elenco">
            <div class="row">
                <div class="col-md-3">
                    <p class="font-weight-bold">Nome</p>
                </div>
                 <div class="col-md-1">                            
                    <p class="font-weight-bold">Provincia</p>
                </div>
                <div class="col-md-2">                            
                    <p class="font-weight-bold">Citta</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Via</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Tipologia</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Telefono</p>
                </div>
            </div> 
        </li>
        @foreach(NegozioViewModel negozio in Model){
        <li class="elenco">
            <div class="row">
                <div class="col-md-3">
                    <p> @negozio.Nome</p>
                </div>
                <div class="col-md-1">                            
                    <h5>@negozio.Indirizzo.First().Provincia</h5>
                </div>
                <div class="col-md-2">                            
                    <h5>@negozio.Indirizzo.First().Citta</h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Indirizzo.First().Via</h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Tipologia</h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Telefono</h5>
                </div>
            </div> 
        </li>
        }
    </ul> 

    
