@model List<NegozioViewModel>

@{
    ViewData["Title"] = "Elenco";
}

    <div class="text-center">
        <h1 class="display-4">Lista negozi</h1>
    </div>


    <p class="text-center font-weight-bold">Negozi affiliati al sistema C3 nella citt&agrave; di @Model.First().Indirizzo.First().Citta</p>
    
        <ul>
                <li class="elenco">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="font-weight-bold">Nome</p>
                        </div>
                        <div class="col-md-3">
                            <p class="font-weight-bold">Tipologia</p>
                        </div>
                        <div class="col-md-3">
                            <p class="font-weight-bold">Via</p>
                        </div>
                        <div class="col-md-2">
                            <p class="font-weight-bold">Telefono</p>
                        </div>
                    </div> 
                </li>
                @foreach(NegozioViewModel negozio in Model){
                <li class="elenco">
                    <div class="row">
                        <div class="col-md-2">
                            <p> @negozio.Nome</p>
                        </div>
                        <div class="col-md-3 font-italic">
                            <h5>@negozio.Tipologia</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>@negozio.Indirizzo.First().Via</h5>
                        </div>
                        
                        <div class="col-md-2">
                            <h5>@negozio.Telefono</h5>
                        </div>
                    </div> 
                </li>
                }
            </ul> 
  





        