@{
    ViewData["Title"] = "Elenco Negozi";
}

@model ElencoListViewModel

<p class="font-weight-bold mt-3">Negozi affiliati al sistema C3</p>
    <p class="font-weight-bold mt-3">Inizia la ricerca</p>
    <ul>
        <li class="elenco">
            <div class="row">
                <div class="col-md-3">
                    <p>Nome</p>
                </div>
                <div class="col-md-2">
                    <p>Tipo</p>
                </div>
                <div class="col-md-3">                            
                    <p class="font-weight-bold">Citta (Provincia)</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Via</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Telefono</p>
                </div>
            </div> 
        </li>
        @foreach(var negozio in Model.Negozi.Elenco){
        <li class="elenco">
            <div class="row">
                <div class="col-md-3">
                    <p> @negozio.Nome</p>
                </div>
                <div class="col-md-2 font-italic text-capitalize">
                    <p>@negozio.Tipologia</p>
                </div>
                <div class="col-md-3">                            
                    <h5>@negozio.Citta (@negozio.Provincia)</h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Via </h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Telefono</h5>
                </div>
            </div> 
        </li>
        }
    </ul>

@{
  int pagine = (int) Math.Ceiling(Model.Negozi.TotaleElenco / (decimal) Model.Input.Limit);
  int paginaCorrente = Model.Input.Page;
}
<nav class="nav justify-content-center mt-3" aria-label="Paginazione">
    <ul class="pagination">
        @for(int p = Math.Max(1, paginaCorrente-4); p <= Math.Min(pagine ,paginaCorrente+4); p++){
            if(p == paginaCorrente){
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-route-page="@p">@p <span class="sr-only">(current)</span></a>
                </li>
            }else{
                <li class="page-item" aria-current="page">
                    <a class="page-link" asp-route-page="@p">@p </a>
                </li>
            }

        }
        
        
    </ul>
</nav>
