@{
    ViewData["Title"] = "Elenco Negozi";
}

@model ElencoListViewModel

<p class="font-weight-bold mt-3">Negozi affiliati al sistema C3</p>
    <p class="font-weight-bold mt-3">Inizia la ricerca</p>
    <ul>
        <li class="elenco">
            <div class="row">
                <div class="col-md-3">
                    <p>Nome</p>
                </div>
                <div class="col-md-2">
                    <p>Tipo</p>
                </div>
                <div class="col-md-3">                            
                    <p class="font-weight-bold">Citta (Provincia)</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Via</p>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold">Telefono</p>
                </div>
            </div> 
        </li>
        @foreach(var negozio in Model.Negozi){
        <li class="elenco">
            <div class="row">
                <div class="col-md-3">
                    <p> @negozio.Nome</p>
                </div>
                <div class="col-md-2 font-italic text-capitalize">
                    <p>@negozio.Tipologia</p>
                </div>
                <div class="col-md-3">                            
                    <h5>@negozio.Citta (@negozio.Provincia)</h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Via </h5>
                </div>
                <div class="col-md-2">
                    <h5>@negozio.Telefono</h5>
                </div>
            </div> 
        </li>
        }
    </ul>

    
<nav class="nav justify-content-center mt-3" aria-label="Paginazione">
    <ul class="pagination">
        <li class="page-item active" aria-current="page">
            <a class="page-link" asp-route-page="1">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="3">3</a>
        </li>
    </ul>
</nav>
